:root{
  --grad : linear-gradient(to right, rgb(108, 255, 231) , rgb(255, 248, 123));
}

#amdinlink{
  border: none;

  background-color: rgb(176, 178, 179);
}

.loginform{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.loginform h1{
  padding-block: 20px;
  font-weight: 500;
  font-size: 2em;
  color: var(--text-dark);
}

.loginform input{
  background-color: rgb(226, 226, 226);
  border: none;
}

button{
  cursor: pointer;
}

.loginmessage{
  padding: 10px;
  border-radius: 7px;
  animation: popmessage 0.2s ease-out 0s 1 forwards;
}

@keyframes popmessage {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

#success{
  background-color: lightgreen;
}

#error{
  background-color: rgb(255, 92, 92);
  color: white;
}

.select{
  width: 100%;
  cursor: pointer;
  background-color: var(--nav-bg);
  border-radius: 10px;
  box-shadow: 0 9px 9px var(--box-shadow-light);
  display: flex;
  justify-content: center;
}

.select button{
  width: 150px !important;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 500;
}

.scrollparent{
  height: 10px; 
}

.scrollparent div{
  width: 50%;
  height: 100%;
  height: inherit;
  background-color: var(--text-light);
  border-radius: 10px;
}

.largeparent{
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.imgholder{
  width: 50%;
  flex: 1;
  height: 90vh;
  background-color: var(--nav-bg);
}

.loginformlarge{
  flex: 0 1 auto;
  padding: 50px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 6px rgb(190, 190, 190);
  background-color: var(--card-bg);
  border-radius: var(--radius-lg);
}

.largeparent input, .largeparent button{
  padding: 10px;
  box-shadow: 0 4px 6px var(--box-shadow-light);
  width: 100%;
  font-size: 0.9em;
}


#logbutton{
  background-color: var(--primary-color);
  color: var(--bg-color);
  border-radius: 6px;
  border: none;
}

@media screen and (max-width : 800px) {
  .hideonmobile{
    display: none;
  }

  .select{
    width: 100%;
  }
}
